/node_modules
/public/bundle.js
/public/*.bundle.js
/public/main.css
/.nyc_output
/coverage
npm-debug.log
/public/*.woff2
/public/*.svg
/public/*.ttf
/public/*.eot
/public/*.woff
/public/*.png
/public/*.jpg
