.header {
  background-image: url(/public/pets-background.png);
  background-color: transparent;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  min-height: 450px;

  .jumbotron {
    background-color: transparent;
    min-height: 400px;
    margin-bottom: 0;
    border-radius: 0 !important;
  }

  .navbar {
    margin-bottom: 50px;
    border-radius: 0;
    background-color: transparent;
    border-color: transparent;
  }
}
