@media (max-width:736px) {
  .navbar-inverse .navbar-nav > li > a {
    color: white;
  }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    padding: 0;
  }

  .navbar-toggle {
    margin-right: 0;
  }

  .mobile-social-button {
    margin: 8px;
  }

  .mobile-social-button_text {
    margin-left: 8px;
    font-family: sans-serif;
    font-weight: bold;
  }

  .movile-header {
    .fa {
      margin-right: 10px;
      color: white;
    }
    .navbar-toggle {
      margin-right: 0;
    }
    ul { margin: 0; }
    .mobile-home {
      margin-top: 13px;
      float: left;
    }
    .mobile-social {
      margin-left: -30px;
      .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 15px;
      }
    }
  }
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .navbar {
    margin-bottom: 0;
  }
}
