.missing-pet-form {
  border: 1px solid lightgrey;
  margin-bottom: 10px;

  .panel-heading {
    background-color: white;
    border-color: white;
  }

  .drop-zone-panel {
    width: 20%;
  }

  .drop-zone {
    display: block;

    .images-drop {
      float: left;
      width: 50%;

      .image-drop-zone {
        width: 100%;
        height: 200px;
        border-width: 2px;
        border-color: #666;
        border-style: dashed;
        border-radius: 5px;
      }
    }

    .image-preview {
      float: left;
      width: 50%;

      .image {
        width: 70%;
        margin-bottom: 20px;
      }
    }
  }
}
