.rc-pagination-disabled {
  cursor: not-allowed;
  a {
    color: #ccc !important;
  }
}

.pagination>li>a, .pagination>li>span {
  color: grey;
}

.pagination>li>a:hover {
  color: grey;
}

.rc-pagination-item.rc-pagination-item-active {
  a {
    background-color: grey;
    border-color: grey;
    color: white;
  }
}


.rc-pagination-prev a:before {
    color: grey;
    content:"«";
}

.rc-pagination-next a:before {
    color: grey;
    content:"»";
}

.center {
  text-align: center;
  clear: both;
}

@media (min-width:1200px) {
  .container {
    .pets-row {
       margin-right: -22%;
       clear: both;
    }
  }
}

@media (max-width:1200px) {
  @media (min-width:768px) {
    .container {
      .pets-row {
         margin-right: -10%;
         clear: both;
      }
    }
  }
}

@media (max-width:736px) {
  .container {
    .pets-row {
       clear: both;
    }
  }
}

.no-results_small {
  color: #505050;
  font-size: 25px;
  float: right;
  position: absolute;
  top: 100px;
  left: 50%;
  line-height: 2;
}

.no-results_big {
  color: #505050;
  font-size: 50px;
  margin-bottom: 40px;
}

.mobile-no-results_small {
  color: orange;
  margin-left: 16px;
  font-size: 16px;
  line-height: 1.5;
}

.mobile-no-results_big {
  margin-left: 16px;
  color: orange;
  font-size: 18px;
  margin-bottom: 40px;
}

.tablet-no-results_small {
    color: #505050;
    font-size: 20px;
    float: right;
    position: absolute;
    top: 80px;
    left: 50%;
    line-height: 2;
}

.tablet-no-results_big {
    color: #505050;
    font-size: 30px;
    margin-bottom: 40px;
}
