.dog-loader {
  position: relative;

  .loader-container {
    display: none;
    position: relative;
    height: 124px;
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
  }
  .progress-bar_percentage {
    margin-top: 64px;
    margin-right: 13px;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 15px;
    z-index: 11;
    color: white;
  }

  .circle-progress-bar {
    width: 140px;
    right: 23px;
    top: -35px;
  }

  .loader-container svg{
    position: absolute;
  }

  .spinner {
    box-shadow: 0 0 1em black;
    border-radius: 100%;
    left: 37px;
    margin-top: -35px;
    transform: rotate(90deg);
  }

  .loader-dog {
    left:49px;
    bottom: 31px;
    width: 120px;
    height:auto;
  }
}
