.panel-body {
    .about-us-image {
        width: 330px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .about-us-right {
        width: 50%;
        float: left;
    }
    .about-us-left{
        width: 50%;
        float: left;
    }
}