.contact-us-mobile-details {
  border-top: 1px solid lightgrey;

  .navbar-nav {
    opacity: 0.5;
    margin: 7.5px -30px;
  }
}

.panel-body {
  .contact-us-image {
    width: 330px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-us-right {
    width: 50%;
    float: left;
  }
  .contact-us-left {
    width: 50%;
    float: left;
    background-color: dimgray;
    width: 500px;
    opacity: .8;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;

    .progress-bar_percentage {
      margin-top: 55px;
      left: 45%;
    }

    .loader-container {
      height: 35px;
    }

    .w3-input-textarea {
      height: 100px !important;
    }
    .w3-input {
      height: 50px;
      border-radius: 4px;
    }

    .map-title {
      color: white;
    }

    .contact-us-button {
      background-color: orange;
      opacity: 1;
      border-radius: 4px;
      height: 60px;
      color: black;
    }
  }
}