.validation-error {
  color: red;
  text-align: left!important;
  margin-bottom: 15px;
  margin-top: -5px;
  font-size: 14px;
  margin-left: 10px;
}

.fields-color {
  border: 1px solid red!important;
  background-color: #ffe6e6;
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
  color: grey;
}
