.looking-for-home {
  display: none;
}

p.form-introduction {
  margin: 15px 0;
}

.missing-pet-form {
  .file-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .title {
    font-weight: bold;
    color: grey;
  }
}

.large-button {
  width: 100%;
  border-width: 1px;
}

.small-nav-menu {
  ul.w3-navbar.w3-black.w3-hide-small {
    background-color: transparent !important;

    li {
      color: black;
      margin-left: 2px;
      background-color: white;
      opacity: 0.20;
    }

    li.active {
      opacity: 0.50;
    }
  }
}

.lost {
  button {
    border-radius: 4px;
  }
}

.pet-filter {
  input {
    height: 38px;
    border-radius: 4px;
  }

  .pet-type {
    select.form-control {
      height: 38px;
      border-radius: 0;
    }
  }
}

.panel-group {
   margin-bottom: 0;
}

@media (max-width:736px) {
  .panel-body {
    padding: 0;
  }
}
