.panel-body {
    .how-to-use-image {
        width: 50%;
        float: left;
    }   
    .how-to-use-right {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .how-to-use-left {
        width: 50%;
        float: left;
    }
}