.missing-pet-card {
  .lost-pet-selected {
    background-color: orange;
  }

  .lost-pet-selected > div:first-child {
    color: white !important;
  }

  .lost-pet-selected > div > svg {
    color: white !important;
  }

  .found-pet-selected {
    background-color: yellowgreen;
  }

  .found-pet-selected > div:first-child {
    color: white !important;
  }

  .found-pet-selected > div > svg {
    color: white !important;
  }

  .adoption-pet-selected {
    background-color: dodgerblue;
  }

  .adoption-pet-selected > div:first-child {
    color: white !important;
  }

  .adoption-pet-selected > div > svg {
    color: white !important;
  }
}

.panel-image {
  img {
    width: 100%;
    height: 100%;
  }

  @media (min-width:1200px) {
    img {
      min-height: 440px;
      max-height: 440px;
    }
  }

  @media (max-width:1200px) {
    @media (min-width:768px) {
      img {
        min-height: 340px;
        max-height: 340px;
      }
    }
  }

  @media (max-width:736px) {
    img {
      min-height: 340px;
      max-height: 340px;
    }
  }
}

.panel-description {
  min-height: 170px;
  position: relative;
}

.panel {
  margin-bottom: 40px;
  padding: 2px;
  border-radius: 0;
  box-shadow: 1px 1px 1px #888888;
}

.contact-details-panel {
  background-color: #f1f1f1;
}

.addOpacity {
  opacity: 0.3;
}

.displayNone {
  display: none;
}

.displayTrue {
  display: block;
}

.contact-btn {
  float: right;
  margin-right: 16px;
  position: absolute;
  bottom: 0;
  margin-bottom: 2%;
  right: 0;
}

.more-info_link {
  float: left;
  margin-top: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 3%;
}

.panel-description_title {
  font-weight: bold;
  padding-top: 10px;
  font-size: 0.95em;
}

.panel-description_iteraction {
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 35px;

  button {
    border-radius: 4px;
  }
}

.panel-description_content {
  line-height: 2;
  font-size: 0.95em;
  margin: 0 0 0px;
}

.more-info-extra {
  font-size: 0.95em;
  line-height: 2;
}

.panel-date.panel-date__lost {
  color: orange;
}

.panel-date.panel-date__found {
  color: yellowgreen
}

.panel-date.panel-date__adoption {
  color: dodgerblue;
}

.panel-date {
  float: left;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.panel-date-icon {
  padding: 10px;
  float: right;
}

.third-panel {
  position: relative;
  width: 80%;
}

.disable-link {
  pointer-events: none;
  cursor: default;
}

.disable-selector {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.disable-input {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
